<h1>Aareon Angular Test</h1>
<form [formGroup]="simpleForm" (ngSubmit)="onSubmit()">
  <table class="form-grid">
    <tr>
      <td>
        <label>Title</label>
      </td>
      <td>
        <select formControlName="title">
          <option value="">-- Select an option --</option>
          <option *ngFor="let title of titles"
                  value="{{title.name}}">{{title.name}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>
        <label>First name</label>
      </td>
      <td>
        <input type="text"
               formControlName="firstName"
               placeholder="First name" />
      </td>
    </tr>
    <tr [ngClass]="{'error-row': lastName.invalid && (lastName.dirty || lastName.touched)}">
      <td>
        <label>Last name</label>
      </td>
      <td>
        <input type="text"
               formControlName="lastName"
               placeholder="Last name"
               required />
      </td>
    </tr>
    <tr *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
      <td colspan="2">
        <div class="error-message" >
          <div *ngIf="lastName.errors?.['required']">
            * Last name is mandatory
          </div>
        </div>
      </td>
    </tr>
  </table>

  <div class="terms-wrapper">
    <label class="app-checkbox"><input type="checkbox" formControlName="acceptTerms"/> I accept the terms & conditions</label>
  </div>
  <div class="submit-wrapper">
    <button [disabled]="!terms.value" type="submit">Submit</button>
  </div>
</form>