<h1>Aareon Angular Test</h1>
<form>
  <div class="form-grid">
    <div class="grid-row">
      <div class="grid-cell">
        <label>Title</label>
      </div>
      <div class="grid-cell">
        <select>
          <option value="">-- Select an option --</option>
          <!-- TODO: add titles to dropdown -->
        </select>
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-cell">
        <label>First name</label>
      </div>
      <div class="grid-cell">
        <input type="text"
               placeholder="First name" />
      </div>
    </div>
    <div class="grid-row">
      <div class="grid-cell">
        <label>Last name</label>
      </div>
      <div class="grid-cell">
        <input type="text"
               placeholder="Last name" />
        <!-- TODO: add error message -->
        <span></span>
      </div>
    </div>
  </div>
  <div class="terms-wrapper">
    <label class="app-checkbox"><input type="checkbox"/> I accept the terms & conditions</label>
  </div>
  <div class="submit-wrapper">
    <button>Submit</button>
  </div>
</form>